h1 { 
    font-family: 'verdana', sans-serif; 
    font-weight: bold;
    color: #3D4F31;
}

h2,p { 
    font-family: 'verdana', sans-serif; 
    font-weight: 300; 
}

body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cdeeb1+26,d5fbbd+77,ddf7ca+97 */
    background: #cdeeb1; /* Old browsers */
    background: -moz-linear-gradient(top,#cdeeb1 16%,#d5fbbd 67%,#ddf7ca 87%); 
    background: -webkit-linear-gradient(top,#cdeeb1 16%,#d5fbbd 67%,#ddf7ca 87%); 
    background: linear-gradient(to bottom,#cdeeb1 16%,#d5fbbd 67%,#ddf7ca 87%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeeb1', endColorstr='#ddf7ca',GradientType=0 );
}

div {
    text-align: center;
}

.WordImage { 
	width: 40%; height: 15%;
	border-radius: 5%;
	border:3px solid white;
}

.exmp {
    font-family: 'verdana'; 
    font-size: 20px;
    font-size: 4.50vw;
    color: #393939;
    padding-left: 20px;
    padding-right: 20px;
}

#trgt {
    margin: 5 auto;
    width: 95%;
    font-size: 20px;
    font-size: 4.25vw;
    text-shadow: 0 0 20px #DCFFBE, 0 0 20px #EDEEB1;
}

#srce {
    margin: 5 auto;
    width: 95%;
    font-size: 14px;
    font-size: 2.75vw;
}

#dots {
    margin: 0 auto;
    width: 80%;
    font-size: 1.75vw;
}


.tainfo {
    font-size: 8px;
    color: #435937;
    font-family: 'verdana', 'roboto'; 
    border-collapse: collapse;
}

.tdinfo {
}

.floating-box-right {
    float: right;
    width: auto;
    margin-right: 5px; 
}

.fontsize {
    font-size: 5px;
    
}

.iconss {
	   text-align: center;
	   position:absolute;
	   width:100%;
	   position:fixed;
	   vertical-align:bottom;
	   
	}
	
/*
@media all and (max-device-width: 720px){

    #trgt {
        margin: 0 auto;
        width: 80%;
        font-size: 40px;
        font-size: 8.75vw;
    }
    
    #srce {
        margin: 0 auto;
        font-size: 30px;
        width: 80%;
        font-size: 3.95vw;
    }
    
    #dots {
		margin: 0 auto;
		font-size: 30px;
		width: 80%;
		font-size: 3.95vw;
	}
}

@media all and (max-device-width: 640px){

    #trgt {
        margin: 0 auto;
        width: 80%;
        font-size: 40px;
        font-size: 4.75vw;
    }
    
    #srce {
        margin: 0 auto;
        font-size: 30px;
        width: 80%;
        font-size: 3.95vw;
    }
    
    #dots {
		margin: 0 auto;
		font-size: 30px;
		width: 80%;
		font-size: 3.95vw;
	}
}

@media all and (max-device-width: 320px){

    #trgt {
        margin: 0 auto;
        width: 98%;
        font-size: 40px;
        font-size: 4.75vw;
    }
    
    #srce {
        margin: 0 auto;
        font-size: 30px;
        width: 98%;
        font-size: 3.95vw;
    }
    
    #dots {
		margin: 0 auto;
		font-size: 30px;
		width: 98%;
		font-size: 3.95vw;
    }

	.tainfo {
		font-size: 8px;
	}
	
	.iconss {
	   text-align: center;
	   position:absolute;
	   bottom:5px;
	   width:100%;
	   position:fixed;
	   bottom:0px;
	   vertical-align:bottom;
	   padding:20;
		left: 50%;
	   
	}

	.exmp {
		font-size: 4.75vw;
		padding-left: 10px;
		padding-right: 10px;
	}
}
*/

a.cursor {cursor:hand;}


#Wrong {
    position: fixed;
    bottom: 15px;
    left: 5%; 
}

#Show {
    position: fixed;
    bottom: 15px;
    right: 36%;
    left: 36%;
}

#Right {
    position: fixed;
    bottom: 15px;
    right: 5%;
}


.btnShow {
  font-size: 14px;
  width: 98%;
  font-size: 3.65vw;
  text-align: center;
  color: #436D3A;
  background: #E5F9CC;
  width: 28%;
  height: 50px;
  border: 0px;
/*
  vertical-align:top;
*/
  cursor:hand;
  border-radius: 6px;
}

.btnShow:hover {
  font-size: 14px;
  font-size: 3.65vw;
  text-align: center;
  color: #3D8134;
  width: 28%;
  height: 50px;
  border: 0px solid #436C2B;
/*
  vertical-align:top;
*/
  cursor:hand;
  border-radius: 6px;
}

.btnOk {
  font-size: 15px;
  font-size: 4.95vw;
  text-align: center;
  font-weight: bold;
  color: #FFFFFF;
  background: #9BCA73;
  width: 28%;
  height: 50px;
  border: 0px solid #436C2B;
  border-radius: 8px;

}

.btnOk:hover {
  font-size: 15px;
  font-size: 4.95vw;
  text-align: center;
  color: #FFFFFF;
  background: #88C74F;
  font-weight: bold;
  width: 28%;
  height: 50px;
  border: 0px;
  border-radius: 8px;

}

.btnNo {
  font-size: 15px;
  font-size: 4.95vw;
  text-align: center;
  font-weight: bold;
  color: #FFFFFF;
  background: #D49DA3;
  width: 28%;
  height: 50px;
  border-radius: 8px;
  border: 0px solid #436C2B;

}

.btnNo:hover {
  font-size: 15px;
  font-size: 4.95vw;
  text-align: center;
  color: #FFFFFF;
  background: #D77C95;
  font-weight: bold;
  width: 28%;
  height: 50px;
  border: 0px;
  border-radius: 8px;

}



