# HIDE /theme DIRECTORY

RewriteRule ^search/(.*)$ index.php?q=$1&$2&$3 [QSA]

    # ENABLE INDEXING
    Options +Indexes

    # INDEX OPTIONS
    IndexOptions +Charset=UTF-8 +FancyIndexing +IgnoreCase +FoldersFirst +XHTML +HTMLTable +SuppressRules +SuppressDescription +NameWidth=*

    # HIDE /theme DIRECTORY
    IndexIgnore .htaccess /theme index.php

ErrorDocument 400 /.error.php
ErrorDocument 401 /.error.php
ErrorDocument 403 /.error.php
ErrorDocument 404 /.error.php
ErrorDocument 405 /.error.php
ErrorDocument 408 /.error.php
ErrorDocument 414 /.error.php
ErrorDocument 500 /.error.php
ErrorDocument 502 /.error.php
ErrorDocument 504 /.error.php

<Files *.idmnd>
  ForceType application/octet-stream
  Header set Content-Disposition attachment
</Files>

DirectoryIndex .index.php index.htm index.html index.shtml index.php default.php
